<%- include('header'); -%>
<h2>Lorem ipsum dolor sit.</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, aspernatur tempora laudantium ratione magnam id vel delectus molestiae repudiandae quia voluptatem vero, velit atque ut autem veritatis omnis impedit deleniti.</p>